build

Makefile.local
tools/astprint
tools/demangle
tools/mcjitcache
tools/mcjitcache_release
tools/publicize
tools/publicize_release

pyston
pyston_opt
pyston_noasserts
pyston_oprof
pyston_pprof
pyston_pprof_opt
pyston_dbg
pyston_debug
pyston_prof
pyston_profile
pyston_release
pyston_grwl
pyston_grwl_dbg
pyston_nosync
pyston_gcc
pyston_release_gcc
pyston_release_gcc_pgo
pyston_release_gcc_pgo_instrumented
pystontmp*/
/*_unittest

*.cache
*.bc
stdlib.ll
*.o
*.d
*.o.ll
*.o.*.ll
stdlib*.ll
oprofile_data
pprof.jit
tags
TAGS
*.pyc

perf.data
perf.data.old
perf_map
gmon.out

find_problem.status
*.expected_cache

plugins/clang_capi

*.so
*.pch

compile.log

*.swp
*.swo

*.out

*~
