[submodule "libunwind"]
	path = build_deps/libunwind
	url = git://git.sv.gnu.org/libunwind.git
        ignore = all
[submodule "libpypa"]
	path = build_deps/libpypa
	url = git://github.com/vinzenz/libpypa.git
[submodule "lz4"]
	path = build_deps/lz4
	url = git://github.com/Cyan4973/lz4.git
[submodule "jemalloc"]
	path = build_deps/jemalloc
	url = git://github.com/jemalloc/jemalloc.git
[submodule "test/testsuite"]
	path = test/testsuite
	url = https://github.com/dropbox/pyston-testsuite
