language: cpp
compiler:
  - clang
# - gcc

install:
  - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
  - sudo add-apt-repository --yes ppa:kubuntu-ppa/backports
  - sudo apt-get -qq update
  - sudo apt-get install -yqq git cmake ninja-build libncurses5-dev liblzma-dev libreadline-dev libgmp3-dev autoconf libtool python-dev texlive-extra-utils
  - if [ "$CXX" = "clang++" ]; then sudo apt-get install -qq clang-3.4 libstdc++-4.8-dev; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CC="gcc-4.8" CXX="g++-4.8"; fi
  - git clone git://github.com/llvm-mirror/llvm.git ~/pyston_deps/llvm-trunk
  - git clone git://github.com/llvm-mirror/clang.git ~/pyston_deps/llvm-trunk/tools/clang
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"
  - mkdir ~/pyston-build && cd ~/pyston-build
  - python ~/pyston/tools/git_svn_gotorev.py ~/pyston_deps/llvm-trunk `cat ~/pyston/llvm_revision.txt` ~/pyston/llvm_patches
  - python ~/pyston/tools/git_svn_gotorev.py ~/pyston_deps/llvm-trunk/tools/clang `cat ~/pyston/llvm_revision.txt` ~/pyston/clang_patches
  - cmake -GNinja $TRAVIS_BUILD_DIR
  - ninja libunwind ext_cpython

script:
  - ninja -j4 check-pyston

os:
  - linux
# - osx

notifications:
  irc:
    channels:
      - "chat.freenode.net#pyston"
    on_success: [change]

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/7256425a36658faa8b9b
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
