BasedOnStyle: WebKit

AccessModifierOffset: -4
AlignAfterOpenBracket: true # new in clang rev 222284
AlignOperands: true # new in clang rev 223117
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentWidth: 4
Language: Cpp
MaxEmptyLinesToKeep: 3
NamespaceIndentation: None
PointerBindsToType: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
Standard: Cpp11
TabWidth: 4
UseTab: Never
PenaltyBreakComment: 1000
